{% extends 'base.html.twig' %}

{% block title %}Produkty: {{ controller_name }}!{% endblock %}

{% block body %}

      <div class="jumbotron">
        <div class="row">
        
        {% for product in products %}
          <div class="col-md-12">
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
            <p>{{product.numberofitems}} Ks</p>
            <p>{{product.price}} Kč</p>
            <p><a class="btn btn-secondary" href="#" role="button">Objednat </a></p>
          </div>
      
        {% endfor %}
        
        </div>

        <hr>

      </div>


{% endblock %}
